
form {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}



input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #5153B8;
  box-shadow: 0 0 5px rgba(81, 83, 184, 0.5);
}

p {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 0;
}

button {
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5153B8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #3f40a0;
}

.Toastify__toast--success {
  background-color: #4BB543 !important;
}

.Toastify__toast--error {
  background-color: #FF3333 !important;
}
